.btn-news:before{
 width: 0px !important;
 height: 0px !important;
}
.btn-news{
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.btn-next-next.btn-news {
    font-weight: 100!important;
}

.btn-next_post{
    margin-bottom: 0 !important;
}
.main p img{
	display: block;
	max-width: 100%;
}


.main .events-btn-wrapper .events-btn{
	padding-right: 100px !important;
	font-weight: 700 !important;
}
.main .events-btn-wrapper .events-btn:before{
	content: "";
	position: absolute;
	top: 36px;
	right: -10px;
	width: 88px !important;
	height: 16px !important;
	background: url(../images/arrow.png) no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	-webkit-transition: -webkit-transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	z-index: 2;
}

@media screen and (max-width: 768px), screen and (max-width: 768px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait) {
	.contents-block .contents-list li.items2 {
		margin-top: 100px;
		border-bottom: 200px solid #fff;
	}
	.appear.op{
		opacity: 1;
	}
}